!!! 5
html
 head
  title Chat
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/chat.js')
 body
  h1 Chat
  p userId: #{userId}
  p Players:
  input#chat-form(type='text')
  #message-container
  a(href='/logout') logout
